*{
margin:1.5px;
padding: 1px;
}
body{
    background-color: #ffffff;
}
.bgim{
    height: 100vh;
    background-image: -webkit-linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6); 
    /*background-image: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6), url("https://freeimage.host/i/Rd8HN4");*/
    background-image: linear-gradient(rgba(0, 105, 233,0.8),rgba(0,105,233,0.8)), url("https://iili.io/Rd8HN4.jpg");
    background-position: center;
    background-size: cover;

}
.nav-bar{
    display: flex;

}
.navbar-left{
    flex-basis: 70%;
    background: #fff;

}
.navbar-right{
    flex-basis: 30%;
    background-color: #fff;
}
