.container{
    background-color: rgb(17, 219, 84);
    height: 5rem;
    margin:auto;

}
.container-fluid{
    background-color: rgb(15, 104, 74);
    height:3rem;
    margin:auto;
}
.row{
    background-color: burlywood;
    height: 4.7rem;
}
[class*="col-"]{
    background-color: #3fda54;
    height: 4.2 rem;
    border:2px solid rgba(0,0,0,0.3);
}